{% extends "users/main.html" %}
{% load static %}
{% block content %}
<main class="d-flex justify-content-center align-items-center vh-150 px-2">
  <div class="w-100" style="padding: 0 20%;">
    <form method="POST" class="p-3 border rounded-3 bg-light shadow-sm">
      {% csrf_token %}
      <div class="text-center mb-4">
        <div class="flex align-items-center justify-center">
          <img src="{% static 'images/warehouse.png' %}" alt="Logo" width="50" height="50" class="mb-3" />
          <p>E-Waste Warehouse Management</p>
        </div>
        <h1 class="h4 mb-3 fw-normal">Create your account</h1>
      </div>
      
      {% for field in form %}
        <div class="form-floating-sm mb-3">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          
        </div>
      {% endfor %}
      <div class="mb-3">
        Already have an account?
        <a href="{% url "login" %}">Sign in</a>
      </div>

      <div id="errorDiv" class="mb-2 bg-danger text-light">
        <p class="flex align-items-center gap-2 text-light"><span id="error" class="p-2"></span></p>
      </div>
      <button id="button" class="btn btn-primary w-100 py-2" type="submit">
        Sign Up
      </button>

      <p class="mt-4 mb-0 text-body-secondary text-center">
        © Copyrights by Software Inc.
      </p>
    </form>
  </div>
</main>
{% endblock %}